{% extends 'articles/base.html' %}

{% load i18n cms_tags menu_tags apphooks_config_tags thumbnail staticfiles sekizai_tags %}


{% block content %}

    <div class="row article">
    
        {% block column_left %}
            <aside class="mod_navigation featurelist block col-md-4">
                {% static_placeholder 'article left column' %}
            </aside>
        {% endblock %}
    
        {% block content_main %}
                
            <article class="col-md-8">
                <div>
                    <p class="date">{{ object.publication_date|date:'d. F Y' }}</p>
                    <h2 class="article-title">{% render_model object 'title' %}</h2>
                </div>
        
                <div>
                    {% render_placeholder object.content %}
                </div>
            </article>

        {% endblock %}

    </div>

{% endblock %}
