{% extends 'articles/base.html' %}
{% load i18n cms_tags apphooks_config_tags menu_tags staticfiles article_urls %}


{% block article_content %}
    <div class="row top-container">
        <div class="col-md-6 col-sm-12">
            <h1 class="list-title">Newsroom</h1>
        </div>
        <div class="col-md-6 col-sm-12 categories-list-container">
            <div class="categories-list">
                {% for category in categories %}
                    <a
                        href="{% get_category_url category %}"
                        {% if category == category_current %}data-is-current{% endif %}
                    >
                        {{ category.name }}
                    </a>
                {% endfor%}
            </div>
        </div>
    </div>
    
    <div class="row">
        {% for object in object_list %}
            {% include 'articles/includes/article-teaser.html' with article=object %}
        {% endfor %}
    </div>
{% endblock %}
