{% extends "root.html" %}
{% load i18n cms_tags staticfiles menu_tags sekizai_tags %}

{% block body_class %}page-home{% endblock %}

{% block extrahead %}{% endblock extrahead %}


{% block extend_root %}
    <div class="bg-pattern">

        {% include 'static_templates/includes/nav.html' %}

        <!-- Page Content -->
        <section id="demo-section">
            <h1>This is demo content from the static_templates demo application</h1>
        </section>



{% endblock extend_root %}



{% addtoblock "js" %}
    <!-- any js to add to the footer -->
{% endaddtoblock "js" %}
