# compiled backend files
__pycache__/
*.py[cod]
*$py.class
*.mo

# compiled frontend files
node_modules/
frontend/dist
.sass-cache
*.css.map

# dev files
.idea/
/.aldryn
/data
data.tar.gz
.secret_key
.env
.venv
*.sqlite3
/*.log
.DS_Store
/requirements.urls

# django files
media/
static-collected/
