# compiled backend files
__pycache__/
*.py[cod]
*$py.class
*.mo

# compiled frontend files
frontend/node_modules/
frontend/dist
.sass-cache
*.css.map

# dev files
.idea/
data.tar.gz
.secret_key
.venv
*.sqlite3
/*.log
.DS_Store
/backend/requirements.urls

# django files
data/
backend/static_collected/
