django-cms >= 3.7, < 3.8
django >= 2.1, < 2.3

# django-cms plugins
djangocms-link
djangocms-googlemap
djangocms-snippet
djangocms-video
djangocms-file
djangocms-picture
djangocms-icon
djangocms-bootstrap4
djangocms-maps
djangocms-modules
djangocms-style # html containers with css
aldryn-forms
djangocms-aldryn-forms-bootstrap4-templates

# django-cms packages
djangocms-history
aldryn-translation-tools
aldryn-apphooks-config
djangocms-text-ckeditor

# django packages
django-settings-export # settings export to templates
django-parler # model translations
django-enumfields
django-admin-sortable2
django-filter
django-google-tag-manager
django-filer
django-env-settings >= 0.13.0 # settings utils for reading .env
django-testuser >= 0.6.0
django-import-export # csv/xsl/html/etc import/export for admin
django-absolute # adds absolute site URL vars to context
djangorestframework
django-allauth # user forms, social auth, allows to authenticate with email
django-username-email # an addition to allauth
Jinja2 # jinja template lang
django-jinja
django-lockdown # allows to restrict access to the stage server
django-modeladmin-reorder # allows to reorder and regroup admin panel apps

# python utils
pytz # a db of timezones
psycopg2-binary
sentry-sdk
