# django-cms plugins
djangocms-icon
djangocms-text-ckeditor
djangocms-bootstrap4
djangocms-googlemap # google maps with ability to add markers through cms admin panel
djangocms-modules
aldryn-forms
djangocms-aldryn-forms-bootstrap4-templates

# django-cms packages
aldryn-translation-tools
aldryn-apphooks-config
djangocms-redirect

# django packages
django-settings-export # settings export to templates
django-enumfields
django-admin-sortable2 # drag and drop sorting for admin
django-filter # generic view filter helpers for front and admin panel, as `?field__gte=5`
django-google-tag-manager
django-env-settings >= 0.13.0 # settings utils ansible deploy, see gitlab.com/what-digital/django-env-settings
django-import-export # csv/xsl/html/etc import/export for admin
django-absolute # adds absolute site URL vars to context
djangorestframework
django-modeladmin-reorder # allows to reorder and regroup admin panel apps
django-extensions # many django things that we don't really need, mainly for shell-plus
    ipython # for shell-plus
django-allauth # user forms, social auth, allows to authenticate with email
    django-username-email # an addition to allauth for email instead of username
django-solo
django-countries

# python utils
pytz # a db of timezones
sentry-sdk
