django-cms>3.8,<4
django>=3.1,<3.2  # 3.2 has dark admin theme which looks bad in custom django CMS admin views
boto3  # for (optional) s3 storage
psycopg2  # postgresql support
python-dotenv
pip-tools
uwsgi
whitenoise  # serving static files

django_storage_url

aldryn-sso

# Django Filer - optional, but used in most projects
easy_thumbnails
django-filer
django-mptt
html5lib
Pillow


# django-cms

djangocms-admin-style
djangocms-icon
djangocms-text-ckeditor
djangocms-link
djangocms-picture
djangocms-file
djangocms-blog
djangocms-history
djangocms-snippet
https://github.com/django-cms/djangocms-video/archive/refs/heads/master.zip#egg=djangocms-video  # wait for responsiveness fix to be on pypi
djangocms-bootstrap4
    python-slugify
djangocms-googlemap
djangocms-modules
aldryn-forms
    djangocms-aldryn-forms-bootstrap4-templates
    aldryn-forms-recaptcha-plugin
djangocms-light-gallery
aldryn-apphooks-config
djangocms-socialshare
djangocms-algolia
djangocms-helpers  # https://gitlab.com/what-digital/djangocms-helpers - underlying bugs need to be fixed in the respective repos before this can be removed
djangocms-link-all
djangocms-redirect
djangocms-page-meta


# django

django-settings-export # settings export to templates
django-enumfields
django-admin-sortable2 # drag and drop sorting for admin
django-sortedm2m # M2M drag and drop sorting for admin, don't use django-admin-sortable2 for M2M
django-filter # generic view filter helpers for front and admin panel, as `?field__gte=5`
django-google-tag-manager
django-environ
django-import-export
django-absolute # adds absolute site URL vars to context
djangorestframework
django-modeladmin-reorder # allows to reorder and regroup admin panel apps
django-extensions # many django things that we don't really need, mainly for shell-plus
    ipython # for shell-plus
django-allauth # user forms, social auth, allows to authenticate with email
    django-username-email # an addition to allauth for email instead of username
django-hijack-admin<3 # allows to login as any existing user
django-solo
django-countries
django-widget-tweaks
django-logentry-admin
django-adminutils # a set of shortcuts for admin.py composition
dj-database-url
django-csp

sentry-sdk
django-robots


