{% load i18n cms_tags thumbnail article_urls %}


<div class="article-app-teaser col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="article-teaser-img">
        <a href="{% get_article_url article %}">
            <img class="img-fluid" src="{% thumbnail article.teaser_image 360x234 crop upscale %}">
        </a>
    </div>
    <div class="article-teaser-date">
        {{ article.publication_date|date:'M d, Y' }} - <em>{{ article.category.name }}</em>
    </div>
    <div class="article-teaser-title">
        {{ article.title }}
    </div>
    <div class="article-teaser-desc">
        {{ article.description|truncatewords:15 }}
        <a href="{% get_article_url article %}">Read more</a>
    </div>
</div>
