{% load cms_tags menu_tags %}
<section class="heading-plugin">
    <{{ instance.heading_tag.value }}
        class="
            c-title
            c-title--{{ instance.heading_type.value }}
            c-title--color-{{ instance.heading_color.value }}
            text-{{ instance.heading_alignment.value }}
        "
    >
        {% comment %}
            Allow editors to use text line breaks that render in HTML as <br>
            https://stackoverflow.com/questions/1894930/django-allow-line-break-from-textarea-input
        {% endcomment %}
        {{ instance.text|linebreaksbr }}
    </{{ instance.heading_tag.value }}>
</section>
