{% load i18n cms_tags thumbnail %}

<article>
    <h3>
        {% if not detail_view %}
            <a href="{{ object.get_absolute_url }}">{% render_model object "title" %}</a>
        {% else %}
            <h2 class="intro me-orange font-weight-bold">{% render_model object "title" %}
                {% if user.is_staff and not object.is_active %}<span> - {% trans "inactive" %}</span>{% endif %}
            </h2>
        {% endif %}
    </h3>

    {% if detail_view %}
        <img class="thumbnail float-none float-md-left mr-md-3 mb-3 text-sm-center" src="{% thumbnail object.thumbnail "250x250" %}"/>
        <p class="me-orange">{{ object.summary }}</p>

        {% render_placeholder object.content %}
    {% endif %}
</article>
