{% extends "root.html" %}
{% load i18n cms_tags staticfiles menu_tags sekizai_tags %}


{% block body_class %}{% endblock %}


{% block messages %}
    <div class="container-big">
        {% include "includes/messages.html" %}
    </div>
{% endblock messages %}


{% block extrahead %}
    <meta name="application-name" content="Project Name"/>
{% endblock extrahead %}

{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="main-menu">
                    {% show_menu 0 100 100 100 "includes/bs4_menu.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock header %}


{% block extend_base %}

    <div class="main-content container-fluid">

        {% block main_content %}
            {% placeholder 'main_content' %}
        {% endblock main_content %}

        {% block footer %}
            <footer class="footer">
                {% static_placeholder "footer" %}
            </footer>
        {% endblock footer %}
    </div>
    </div>

{% endblock extend_base %}



{% addtoblock "js" %}
    <!-- any js to add to the footer -->
{% endaddtoblock "js" %}
