{%  load cms_tags sekizai_tags static i18n menu_tags page_meta_tags gtm_tags %}{%  page_meta request.current_page as page_meta %}{%  get_current_language as lang_code %}
<html lang="{{ lang_code }}">
  <head>
    <meta charset="UTF-8"/>
    <title>{% block page_title %}{%  page_attribute 'page_title' %}{% endblock %}{% block meta %}{%  include "djangocms_page_meta/meta.html" with meta=page_meta %}{% endblock %}{%  render_block 'css' %}
    </title>
    <script>const DJANGO_ENV = '{{ settings.DJANGO_ENV.value }}';
    </script>
{% if  settings.DJANGO_ENV.value == 'local' %}
    <script defer src="{{ settings.WEBPACK_DEV_URL }}/vendor.bundle.js" data-is-reload-on-page-edit="true"></script>
    <script defer src="{{ settings.WEBPACK_DEV_URL }}/global.bundle.js" data-is-reload-on-page-edit="true"></script>
    <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/vendor.css"/>
    <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/global.css"/>{% block head_local_frontend_files %}{% endblock %}{% else %}
    <script defer src="{% static 'dist/vendor.js' %}" data-is-reload-on-page-edit="true"></script>
    <script defer src="{% static 'dist/global.js' %}" data-is-reload-on-page-edit="true"></script>
    <link rel="stylesheet" href="{% static 'dist/vendor.css' %}"/>
    <link rel="stylesheet" href="{% static 'dist/global.css' %}"/>{% block head_prod_frontend_files %}{% endblock %}{% endif %}{%  render_block "head_frontend_files" %}{% block head %}{% endblock %}
  </head>
  <body class="lang-{{ lang_code }} {% render_block 'body_classes' %}">{%  cms_toolbar %}
    <div class="container">{% block messages %}{% endblock %}{% block content %}{% endblock %}
    </div>
    <footer>{%  static_placeholder 'footer' %}
    </footer>{%  render_block "js" %}
  </body>
</html>