- load cms_tags

html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
            if (foo) {
                bar()
            }
    body
        h1.title PugJS - node template engine
        #container
            if you_are_using_pug
                p You are amazing
            else
                p Get on it!
