{% load cms_tags sekizai_tags staticfiles %}


<html lang="en">
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% render_block "css" %}

    
        <script>
            window.DJANGO = {
                env: `{{ settings.DIVIO_ENV.value }}`,
            };
        </script>

        {% if settings.DIVIO_ENV.value == 'local' %}

            <script defer src="{{ settings.WEBPACK_DEV_URL }}/global.bundle.js" data-is-reload-on-page-edit></script>
            <script defer src="{{ settings.WEBPACK_DEV_URL }}/vendor.bundle.js" data-is-reload-on-page-edit></script>
            
            <script defer src="{{ settings.WEBPACK_DEV_URL }}/homepage.bundle.js" data-is-reload-on-page-edit></script>


            <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/global.css">
            <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/vendor.css">
            
            <link rel="stylesheet" href="{{ settings.WEBPACK_DEV_URL }}/homepage.css">
        
        {% else %}

            <script defer src="{% static 'dist/global.js' %}" data-is-reload-on-page-edit></script>
            <script defer src="{% static 'dist/vendor.js' %}" data-is-reload-on-page-edit></script>
            
            <script defer src="{% static 'dist/homepage.js' %}" data-is-reload-on-page-edit></script>
            

            <link rel="stylesheet" href="{% static 'dist/global.css' %}">
            <link rel="stylesheet" href="{% static 'dist/vendor.css' %}">
            
            <link rel="stylesheet" href="{% static 'dist/homepage.css' %}">
        
        {% endif %}
    </head>
    
    <body>
        <h1>hello from what-digital template</h1>
        
        {% cms_toolbar %}
        {% placeholder "content" %}
        {% render_block "js" %}
    </body>
</html>
