// this is the place to define global color variables and the like

$project-orange: #f8951d
$project-dark-blue: #252733

$primary-font-color: #333333
$button-font-color: white

$primary-color: black
$secondary-color: $project-orange


// override boostrap4 variables here

// default bootstrap4 value
// https://github.com/twbs/bootstrap/blob/99379f3843ddd5bd66ce6559ab91ef68c744fbd7/scss/_variables.scss#L118
// $spacer: 1rem
